@font-face {
  font-family: "LatoBold";
  src: url("fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "LatoLight";
  src: url("fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "LatoSemibold";
  src: url("fonts/Lato/Lato-Semibold.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "InterMedium";
  src: url("fonts/Inter/Inter-Medium.ttf");
}

@mixin font($fontfamily, $color, $size) {
  font-family: $fontfamily;
  color: $color;
  font-size: $size;
}

@mixin fontSize($origFontSize, $minFontSize) {
  font-size: calc(#{$minFontSize + px} + (#{$origFontSize - $minFontSize}) * ((100vw - 320px) / (1920 - 320)));
}
